body {
  background-color:#f9fff5;
}
.navFont {
  font-size: 33px;
  position: relative;
    top: 9px;
}
.monthsPosition {
      position: relative;
    top: 9px;
}
.navbarSpecial{
  background-color: #fff;
  margin-bottom: 0px;
  min-height: 70px;
}
.brandwidth {
  width: 100%;
}
.brandLabelwidth {
  width: 75%;
}
.periodLabel {
  padding-right: 10px;
  position: relative;
    top: 11px;
}
.btn-primary:hover {
  background: #92c5be!important;
  border-color: inherit!important;
}
.btnbackground {
  margin-right: 3px;
    background: #a9a9a9;
}
.btnActive {
  background: #92c5be!important;
}
.btn-primary {
      border-color: #fff;
}
.formBox {
  /*background: #cfcfcf;*/
  padding: 5px;
  overflow: hidden;
  margin:2px;
   border-radius: 6px;
}
.brandCommon {
    display: inline-block;
    float: left;
}
.branding {
  width: 80%;
}
.addStock {
  background: #6a9370
}
.instructions {
  position: relative;
    left: 20px;
    top: -6px;
}
.panelT {
  background: #eff3ec
}
.bigContainer {
  background: #f6faf3;
    border-left: 1px solid #d3d1d1;
    border-right: 1px solid #d3d1d1;
}
.stocksContainer{
  /*margin-top: 25px;*/
  padding:25px 0 3px 0;
  background:#c9d9ce;
}
.removeStock{
      right: -10px;
    top: -25px;
    float: right;
    position: relative;
    background: #f75858;
}
.stockSearch {
    display: inline-block;
    width: 35%;
    padding-left: 15px;
    padding-bottom: 30px;
}
.stockSearchButton {
      display: inline-block;
    position: relative;
    top: -12px;
    padding-left: 10px;
}
.panelHeight {
  min-height: 130px;
}
.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
  padding:10px;
}
.tc-chart-js-legend li span {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}